.venv/
__pycache__/
data/
logs/
models/
assets/
notebooks/
dolphin_setup/
dolphin/
game/
roms/
memcards/
saves/
web_server_running.flag
*/.iso
*/.bin
*/.cue
*/.img
*/.mds
*/.sub
*/.ccd
*/.pbp
*/.chd
*/.elf
*/.dol
*/.gcm
*/.iso
*/.wbfs
*/.wad
*/.nkit.iso
*/.nkit.gcz
*/.nkit.dol
*/.nkit.gcm
*/.nkit.wbfs
*/.nkit.wad
*/.nkit.wii